@page
@model CustomerModel
@{
    ViewData["Title"] = "Customers";
}

@* <h1>Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Tel No</th>
            <th>Address</th>
            <th>Creation Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.Fullname</td>
                <td>@customer.Gender</td>
                <td>@customer.TelNo</td>
                <td>@customer.Address</td>
                <td>@customer.CreationDate.ToShortDateString()</td>
                <td>
                    <a asp-page="/Auth/CustomerDetails" asp-route-id="@customer.Id" class="btn btn-primary">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@


<div class="row">
    <div class="col-12">
        <div class="card mb-0">
            <div class="card-body">
                <div class="d-md-flex justify-content-between mb-10">
                    <div class="mb-10 mb-md-0">
                        <h5 class="card-title">Customers</h5>
                    </div>
                </div>
                <div class="table-responsive overflow-x-auto latest-reviews-table">
                    <table class="table mb-0 align-middle text-nowrap">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th>Full Name</th>
                                <th>Gender</th>
                                <th>Tel No</th>
                                <th>Address</th>
                                <th>Creation Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var customer in Model.Customers)
                            {
                                <tr>
                                    <td>@customer.Fullname</td>
                                    <td>@customer.Gender</td>
                                    <td>@customer.TelNo</td>
                                    <td>@customer.Address</td>
                                    <td>@customer.CreationDate.ToShortDateString()</td>
                                    <td>
                                        <a asp-page="/Auth/CustomerDetails" asp-route-id="@customer.Id" class="btn btn-primary">View Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>