@page
@model EditProductModel
@{
    ViewData["Title"] = "Edit Product";
}
@using System.IO


@* <div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Edit Product</h1>
            <div class="card mb-3">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="productName" class="form-label">Product Name:</label>
                            <input type="text" class="form-control" id="productName" asp-for="Product.ProductName">
                            <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="barcode" class="form-label">Barcode:</label>
                            <input type="text" class="form-control" id="barcode" asp-for="Product.Barcode">
                            <span asp-validation-for="Product.Barcode" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="unitPrice" class="form-label">Unit Price:</label>
                            <input type="text" class="form-control" id="unitPrice" asp-for="Product.UnitPrice">
                            <span asp-validation-for="Product.UnitPrice" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="importPrice" class="form-label">Import Price:</label>
                            <input type="text" class="form-control" id="importPrice" asp-for="Product.ImportPrice">
                            <span asp-validation-for="Product.ImportPrice" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="retailPrice" class="form-label">Retail Price:</label>
                            <input type="text" class="form-control" id="retailPrice" asp-for="Product.RetailPrice">
                            <span asp-validation-for="Product.RetailPrice" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Category:</label>
                            <input type="text" class="form-control" id="category" asp-for="Product.Category">
                            <span asp-validation-for="Product.Category" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description:</label>
                            <textarea class="form-control" id="description" asp-for="Product.Description"></textarea>
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                        @{
                            string imageUrl = Model.Product.Photo;
                            string imageName = imageUrl != null ? imageUrl.Substring(imageUrl.LastIndexOf('/') + 1) : string.Empty;
                        }

                        <div class="mb-3">
                            <label for="photo" class="form-label">Product Photo:</label>
                            @if (!string.IsNullOrEmpty(Model.Product.Photo))
                            {
                                <img src="@Url.Content(Model.Product.Photo)" alt="Current Photo" style="max-width: 200px;" />
                            }
                            <input type="file" class="form-control" id="photo" name="photo" value="@imageName">
                        </div>



                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Update Product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> *@

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Edit Product</h1>
            <div class="card mb-3">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="productName" class="form-label">Product Name:</label>
                            <input type="text" class="form-control" id="productName" name="productName" value="@Model.Product.ProductName">
                        </div>
                        <div class="mb-3">
                            <label for="barcode" class="form-label">Barcode:</label>
                            <input type="text" class="form-control" id="barcode" name="barcode" value="@Model.Product.Barcode">
                        </div>
                        <div class="mb-3">
                            <label for="retailPrice" class="form-label">Retail Price:</label>
                            <input type="number" class="form-control" id="retailPrice" name="retailPrice" value="@Model.Product.RetailPrice">
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Category:</label>
                            <input type="text" class="form-control" id="category" name="category" value="@Model.Product.Category">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description">@Model.Product.Description</textarea>
                        </div>
                        @{
                            string imageUrl = Model.Product.Photo;
                            string imageName = imageUrl != null ? imageUrl.Substring(imageUrl.LastIndexOf('/') + 1) : string.Empty;
                        }

                        @* <div class="mb-3">
                            <label for="photo" class="form-label">Product Photo:</label>
                            @if (!string.IsNullOrEmpty(Model.Product.Photo))
                            {
                                <img src="@Url.Content(Model.Product.Photo)" alt="Current Photo" style="max-width: 200px;" />
                            }
                            <input type="file" class="form-control" id="photo" name="photo" value="@imageName">
                        </div> *@

                        <input type="hidden" class="form-control" id="productId" name="productId" value="@Model.Product.Id">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Update Product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
